.navBar {
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;


    background-color: white;

    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}


#navbar_logo {
    height: auto;
    width: 5em;
}

#nav_button {
    background-color: #00994C;
    margin-left: 1em;
}

#nav_button:hover {
    background-color:  #00CC80;
}

#login_placeholder {
    width: 3em;
    height: auto;
}


#navbar_search{
    align: center;
}