.homepageHeader {

    text-align: center;
    padding-top: 15vh;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../assets/homepage_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    height: 95vh;
    width: 100%;

    color: white;
}

.homepageCTA{
    margin-top: 10vh;
    padding-bottom: 5vh;
}


#navbar-search{
    display: 'block';
    margin-left: auto;
    margin-right: auto;
}


